In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("height-weight-25k.csv")
df.head()

   Index  Height-Inches  Weight-Pounds
0      1       65.78331       112.9925
1      2       71.51521       136.4873
2      3       69.39874       153.0269
3      4       68.21660       142.3354
4      5       67.78781       144.2971

In [3]:
df.describe()

              Index  Height-Inches  Weight-Pounds
count  25000.000000   25000.000000   25000.000000
mean   12500.500000      67.993114     127.079421
std     7217.022701       1.901679      11.660898
min        1.000000      60.278360      78.014760
25%     6250.750000      66.704397     119.308675
50%    12500.500000      67.995700     127.157750
75%    18750.250000      69.272958     134.892850
max    25000.000000      75.152800     170.924000

In [5]:
y = df['Weight-Pounds'].values #Target
y = y.reshape(-1, 1)
X = df['Height-Inches'].values #Feature(s) 
X = X.reshape(-1, 1)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(20000, 1) (20000, 1)
(5000, 1) (5000, 1)